body { padding: 4px; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 0 0 0 0;
}

.active {
  font-weight: bold
}

h1 { padding-left:  0px }
h2 { padding-left:  8px }
h3 { padding-left: 16px }
h4 { padding-left: 24px }
h5 { padding-left: 32px }
h6 { padding-left: 40px }

a:hover {
  text-decoration: underline;
  cursor: pointer;
}
